.header{
    display: inline-block;
    background-image: url('/assets/img/cesped.jpg');
    width: 100%;
    height: 8em;
    color: #FFF;
}

.left {
    float: left;
}

.logo {
    width: 14em;
    height: 8em;
    margin-right: 1.5em;
}

@media screen and (max-width: 950px) {
    .header .logo{
      display: none;
    }
    .header .title{
        font-size: 3em;
        font-size: 5.5vw;
        background-color: rgba(0, 128, 0, 0.5);
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}
@media screen and (min-width: 950px) {
    .header .title{
        font-size: 3em;
        font-size: 4vw;
        background-color: rgba(0, 128, 0, 0.5);
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}

@media screen and (min-width: 1200px) {
    .header .title{
        font-size: 3em;
        background-color: rgba(0, 128, 0, 0.5);
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}