<div class="grid p-fluid main-form-panel">
    <div class="col-12 md:col-6 form-panel">
        <p-card>
            <ng-template pTemplate="header">
                <span class="p-panel-title ng-tns-c62-8 ng-star-inserted" id="p-panel-0_header">Jugador</span>
            </ng-template>
            <div class="grid p-fluid">
                <div class="col-12 xs:col-6">
                    <label>Nombre</label>
                    <p-autoComplete [(ngModel)]="posicion2.selected" [suggestions]="posicion2.filteredList" (completeMethod)="posicion2.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>



            <div class="grid p-fluid">
                <div class="col-12 md:col-9 lg:col-10">
                    <label>Apodo</label>
                    <input type="text" pInputText [(ngModel)]="jugadorApodo"/>
                </div>
                
                <div class="col-12 md:col-3 lg:col-2">
                    <label>Año</label>
                    <p-inputNumber [(ngModel)]="jugadorAnio" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="currentYear">
                    </p-inputNumber>
                </div>
            </div>



            <div class="grid p-fluid">
                <div class="col-12 md:col-10">
                    <label>Equipo</label>
                    <p-autoComplete [(ngModel)]="equipo.selected" [suggestions]="equipo.filteredList" (completeMethod)="equipo.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                
                <div class="col-12 md:col-2">
                    <label>№</label>
                    <p-inputNumber [(ngModel)]="jugadorNumero" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="99">
                    </p-inputNumber>
                </div>
            </div>


            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Pie</label>
                    <p-autoComplete [(ngModel)]="pie.selected" [suggestions]="pie.filteredList" (completeMethod)="pie.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                
                <div class="col-12 md:col-4">
                    <label>Somatotipo</label>
                    <p-autoComplete [(ngModel)]="somatotipo.selected" [suggestions]="somatotipo.filteredList" (completeMethod)="somatotipo.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>

                <div class="col-12 md:col-4">
                    <label>Estatura</label>
                    <p-inputNumber [(ngModel)]="jugadorEstatura" inputId="jEstatura" inputId="minmax" mode="decimal" [min]="149" [max]="206"></p-inputNumber>
                    <p-slider [(ngModel)]="jugadorEstatura" [min]="149" [max]="206"></p-slider>
                </div>
            </div>


            
            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <label>País Nacimiento</label>
                    <p-autoComplete [(ngModel)]="paisNacimiento.selected" [suggestions]="paisNacimiento.filteredList" (completeMethod)="paisNacimiento.filter(getCatalogService(), $event)" field="nombre" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center country-item">
                                <img src="assets/img/flag/flag_placeholder.png" [class]="'flag flag-' + value.codigoISO2.toLowerCase()" />
                                <div class="contry-name">{{value.nombre}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                
                <div class="col-12 md:col-6">
                    <label>Nacionalidad</label>
                    <p-autoComplete [(ngModel)]="paisNacionalidad.selected" [suggestions]="paisNacionalidad.filteredList" (completeMethod)="paisNacionalidad.filter(getCatalogService(), $event)" field="nombre" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center country-item">
                                <img src="assets/img/flag/flag_placeholder.png" [class]="'flag flag-' + value.codigoISO2.toLowerCase()" />
                                <div>{{value.nombre}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>

            

            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <label>Posición 1</label>
                    <p-autoComplete [(ngModel)]="posicion1.selected" [suggestions]="posicion1.filteredList" (completeMethod)="posicion1.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                
                <div class="col-12 md:col-6">
                    <label>Posición 2</label>
                    <p-autoComplete [(ngModel)]="posicion2.selected" [suggestions]="posicion2.filteredList" (completeMethod)="posicion2.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>
        </p-card>
    </div>


    <div class="col-12 md:col-6 form-panel">
        <p-card>
            <ng-template pTemplate="header">
                <span class="p-panel-title ng-tns-c62-8 ng-star-inserted" id="p-panel-0_header">Valoración</span>
            </ng-template>
            <div class="grid p-fluid">
                <div class="col-12 md:col-8">
                    <label>Autor</label>
                    <input type="text" pInputText [(ngModel)]="jugadorApodo"/>
                </div>
                
                <div class="col-12 md:col-4">
                    <label>Fecha partido</label>
                    <p-calendar [(ngModel)]="valFechaPartido" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>


            <div class="grid p-fluid">
                <div class="col-12 md:col-8">
                    <label>Equipo jugador</label>
                    <input type="text" pInputText [disabled]="true" [(ngModel)]="equipo.selected ? equipo.selected.descripcion : equipo.selected"/>
                </div>
                
                <div class="col-12 md:col-4">
                    <label>Visualización</label>
                    <p-autoComplete [(ngModel)]="visualizacion.selected" [suggestions]="visualizacion.filteredList" (completeMethod)="visualizacion.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>

            

            <div class="grid p-fluid">
                <div class="col-12 md:col-8">
                    <label>Campeonato</label>
                    <input type="text" pInputText [(ngModel)]="valCampeonato"/>
                </div>
                
                <div class="col-12 md:col-4">
                    <label>Seguimiento</label>
                    <p-autoComplete [(ngModel)]="seguimiento.selected" [suggestions]="seguimiento.filteredList" (completeMethod)="seguimiento.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>


            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <label>Local</label>
                    <p-autoComplete [(ngModel)]="local.selected" [suggestions]="local.filteredList" (completeMethod)="local.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div class="col-12 md:col-6">
                    <label>Visitante</label>
                    <p-autoComplete [(ngModel)]="visitante.selected" [suggestions]="visitante.filteredList" (completeMethod)="visitante.filter(getCatalogService(), $event)" field="descripcion" [dropdown]="true">
                        <ng-template let-value pTemplate="item">
                            <div class="p-d-flex p-ai-center">
                                <div>{{value.descripcion}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>

            <div class="grid p-fluid">
                <div class="col-12 md:col-12">
                    <label>Descripción</label>
                    <textarea rows="5" [autoResize]="true" pInputTextarea maxlength="1000" [(ngModel)]="valDescripcion"></textarea>
                </div>
            </div>
        </p-card>
    </div>
</div>